button.intial{
    background-color: #d1e9ff  !important;
}

.expand .title{
    font-size: 1.3rem;
    font-weight: 600;
}
.expand .price{
    color: #FF4858;
    font-size: 1.3rem;
}
.expand  .price .after{
    color: #5d656b;
    font-size: 1.3rem;
    text-decoration: line-through;
    text-decoration-color: #46494b59;
}
