button.intial{
    background-color: #EAF5FF !important;
}

.expand .title{
    font-size: 1.5rem;
    font-weight: 600;
}
.expand .price{
    color: #FF4858;
    font-size: 1.4rem;
}
.expand  .price .after{
    color: #5d656b;
    font-size: 1.5rem;
    text-decoration: line-through;
    text-decoration-color: #46494b59;
}
